html {
  box-sizing: border-box;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}

a {
  color: #fff;
  text-decoration: none;
}

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

body {
  background-color: #0B0B0B;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}
.header {
  min-height: 100vh;
  padding-top: 36px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
}
.container {
  padding: 0 15px;
  max-width: 1230px;
  margin: 0 auto;
}
.header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.header-btn {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
}
.header-burger {
  width: 36px;
  background-color: #fff;
  height: 3px;
  position: relative;
}
.header-burger::before {
  content: "";
  width: 36px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: -13px;
}
.header-burger::after {
  content: "";
  width: 36px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 14px;
}
.header-content__title {
  font-family: Roboto;
  font-weight: 400;
  font-size: 96px;
  line-height: 112px;
  margin-bottom: 10px;
}
.header-content__text {
  width: 285px;
  margin-bottom: 25px;
}
.header-content__btn a{
  font-weight: 700;
  padding: 30px 60px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.15);
  display: inline-block;
  transition: all 0.3s;
}
.header-content__btn a:hover{
  background: #770302;
}
.menu {
  background-color: #000;
  position: absolute;
  width: 100%;
  z-index: 7;
  top: 0;
  left: -100%;
  transition: all .6s;
}
.menu.active {
  left: 0;
}
.container-menu {
  position: relative;
}
.close-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 15px;
  top: 36px;
  background-color: #000;
  cursor: pointer;
}
.close-btn::after{
  content: "";
  width: 70px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  transform: rotate(45deg);
  top: 25px;
  left: -10px;
}
.close-btn::before{
  content: "";
  width: 70px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  transform: rotate(135deg);
  top: 25px;
  left: -10px;
}
.menu__list {
  height: 100vh;
  display: flex;
  align-items: center;
}
.menu__list ul {
  list-style: none;
  
}
.menu__list li {
  
}
.menu__list a{
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  padding: 30px 25px 15px 0;
  width: 368px;
  display: inline-block;
  border-bottom: 3px solid #B70021;
  transition: all .3s;
}
.menu__list a:hover{
  border-bottom: 3px solid #fff;
  transform: scale(1.2);
  margin-left: 37px;
}
.slider__item {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slider .slick-dots button{
  background-color: #0B0B0B;
  border-radius: 50%;
  outline: none;
  font-size: 0;
  width: 15px;
  height: 15px;
  border: none;
  margin-right: 19px;
}
.slider .slick-active button{
  background-color: #fff;
}
.slider ul {
  display: flex;
  max-width: 1230px;
  padding: 0 15px;
  margin: -50px auto 0;
  position: relative;
  z-index: 5;
}
.slider .slick-dots li {
  list-style: none;
}
.indicators__items {
  display: flex;
  justify-content: space-between;
  margin-top: 155px;
  margin-bottom: 100px;
}
.indicators__item {
  text-align: center;
}
.item-suptext {
  margin-bottom: 19px;
}
.item-num span{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 96px;
  line-height: 112px; 
}
.item-num {
  margin-bottom: 7px;
}
.item-subtext {
  color: #B70021;
}
.video {
  margin-bottom: 100px;
}
.speed__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  position: relative;
}
.speed__item-descr {
  margin: auto 0;
  width: 570px;
}
.speed__item-title {
  font-size: 36px;
  line-height: 42px;
  color: #B70021;
  position: absolute;
  top: 0;
  left: 0;
}
.speed__item-text {
  width: 303px;
}
.advantages__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  position: relative;
}
.advantages__item-list li {
  list-style: none;
}
.advantages__item-descr {
  margin: auto 0;
  width: 570px;
}
.advantages__item-title {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 36px;
  line-height: 42px;
  color: #B70021;
}
.design__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
}
.design__inner-num {
  color: #B70021;
}
.design__inner-text {
  width: 450px;
  margin-left: 80px;
  margin-right: 15px;
  margin-top: 25px;
}
.footer {
  background: #690102;
}
.footer__btn {
  display: flex;
  justify-content: center;
}
.footer__btn a {
  margin-bottom: 83px;
  margin-top: 83px;
}
.footer__contacts {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.footer__contact {
  padding-right: 15px;
  padding-left: 15px;
  border-right: 1px solid #fff;
  font-weight: 700;
}
.footer__contact:last-child {
  border: none;
}

/* MEDIA 
+++++++++++++++++++++++++++++++++++++++++++++++++*/


@media (max-width: 1200px) {
  .advantages__item-img {
    margin-right: 15px;
  }
}
@media (max-width: 1175px) {
  .speed__item-descr {
    width: 311px;
  } 
}
@media (max-width: 910px) {
  .video {
    margin-bottom: 80px;
  }
  .speed__item {
    justify-content: center;
    flex-wrap: wrap;
  }
  .speed__item-title {
    position: static;
    text-align: center;
    margin-bottom: 20px;
  }
  .speed__item-text {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .advantages__item {
    justify-content: center;
    flex-wrap: wrap;
  }
  .advantages__item-img {
    order: 1;
    margin-right: 0;
  }
  .advantages__item-descr {
    width: 311px;
    text-align: center;
  }
  .advantages__item-list {
    padding-top: 62px;
    margin-bottom: 20px;
  }
  .advantages__item-title {
    right: 0;
    left: 0;
    top: 0;
  }
}
@media (max-width: 780px) {
  .indicators__items {
    flex-wrap: wrap;
    margin-top: 120px;
    margin-bottom: 20px;
  }
  .indicators__item {
    width: 250px;
    margin: 0 auto 50px;
  }
}
@media (max-width: 630px) {
  .speed__item-img img{
    width: 490px;
  }
  .advantages__item-img img {
    width: 490px;
  }
}
@media (max-width: 530px) {
  .item-num span {
    font-size: 75px;
    line-height: 90px;
  }
  .indicators__items {
    margin-top: 100px;
    margin-bottom: 15px;
  }
  .speed__item-img img {
    width: 370px;
  }
  .video iframe {
    height: 300px !important;
  }
  .advantages__item-img img {
    width: 370px;
  }
}
@media (max-width: 415px) {
  .slider ul {
    margin: -120px auto 0;
  }
  .header-content__btn a {
    padding: 25px 50px;
  }
  .indicators__items {
    margin-top: 165px;
  }
}
@media (max-width: 410px) {
  .header-content__title {
    font-size: 70px;
    line-height: 90px;
  }
  .logo img {
    width: 200px;
  }
  .menu__list a {
    font-size: 33px;
    line-height: 42px;
    padding: 25px 20px 10px 0;
    width: 245px;
  }
  .menu__list a:hover {
    transform: scale(1.1);
    margin-left: 23px;
  }
  .slider ul {
    margin: -90px auto 0;
  }
  body {
    font-size: 20px;
    line-height: 24px;
  }
  .header-content__btn a {
    padding: 20px 40px;
  }
  .indicators__items {
    margin-top: 120px;
  }
  .indicators__items {
    margin-bottom: 0px;
  }
  .indicators__item {
    margin: 0 auto 30px;
  }
  .item-suptext {
    margin-bottom: 10px;
  }
  .item-num span {
    font-size: 60px;
    line-height: 56px;
  }
  .indicators__items {
    margin-top: 100px;
  }
  .video {
    margin-bottom: 30px;
  }
  .video iframe {
    height: 250px !important;
  }
  .speed__item {
    margin-bottom: 30px;
  }
  .speed__item-title {
    margin-bottom: 10px;
  }
  .speed__item-text {
    margin-bottom: 10px;
  }
  .speed__item-img img {
    width: 285px;
  }
  .speed__item-descr {
    width: 285px;
  }
  .advantages__item {
    margin-bottom: 30px;
  }
  .advantages__item-list {
    margin-bottom: 10px;
    padding-top: 52px;
  }
  .advantages__item-img img {
    width: 285px;
  }
  .advantages__item-descr {
    width: 285px;
  }
}




@media (max-height: 560px) {
  .slider__item {
    height: 600px;
  }
  .menu__list {
    height: 600px;
  }
}